* {
	font-family: "Lucida Grande", Tahoma, Arial, Helvetica, Sans-Serif;
	font-size:14px;
	margin:0px;
	padding:0px;
}


body { background:#1C1D21; }

#container
{
	margin: auto; 
	width:90%; 
	min-width:800px;
	background: #EEEFF7;  
	min-height:640px; 
}

#header {
	background:#31353D; 
	color:#EEEFF7;
	padding:0.5em;
	font-size: 2em;
}

#header a {
	text-decoration: none;
	font-size:0.5em;
	float:right;
	color:#EEEFF7;
	margin-top:0.75em;
}

#nav { 
	background: #445878; 
	min-height:3.25em; 
}

#nav ul li {
	float:left;
	height:1.25em;
	padding:1em;
	margin-right:2px;
	background: #445878;
}

#nav ul li.selected {
	background: #EEEFF7;
}

#nav a {
	text-decoration:none;
	color: #EEEFF7;
}

#nav ul li.selected a {
	text-decoration:none;
	color: #445878;
}

#main { 
	padding:1em;
}

#main table {
	margin:auto;
}

#main th {
	padding:0.75em;
	background: #EEEFF7;
	font-size: 0.625em;
	color:#445878;
	text-transform: uppercase;
	font-weight: bold;
}

#main td {
	padding:0.75em;
	color: #1C1D21;
}

#main tr.odd {
	background: #FFF;
}

#right form { display: inline; }

#right select { margin-right:0.25em; }

input[type='submit'] {
	background: #445878;
	color:#EEEFF7;
	padding:0.5em;
	font-size:0.65em;
	font-weight: bold;
	border:1px solid #31353D;
	text-transform: uppercase;
}

input[type='submit'].delete {
	background: #8E001C;
	color:#FFF;
	padding:0.5em;
	font-size:0.65em;
	font-weight: bold;
	border:1px solid #47000E;
	text-transform: uppercase;
}

#right {
	position:relative;
	float:right;
	margin:0.25em;
	padding:0em 1em 1em 1em;
	background:#FFF;
}



.card .group
{
	display:block;
	clear:left;
}

.card ul
{
	margin-bottom:1em;
	margin-right:2em;
	display:inline;
	float:left;
}

.card ul li {
	font-size:1.25em;	
}
	

	
#right h1, .card ul li:first-child {
	font-weight:bold;
	font-size: 0.625em;
	color:#445878;
	text-transform: uppercase;
}

#right h1 {
	margin-bottom:0.75em;
	margin-top:1em;
}

span.error
{
	font-size: 0.75em;
	color:#8E001C;
	padding:0.25em;
}

label { float:left; min-width:90px; text-align:right; padding-right:5px; }
input, select, textarea { margin-bottom:10px; }